<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rocket Weather</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>
    <script src="scripts/rocketWeather.js"></script>
    <script src="scripts/rocketWeatherController.js"></script>
    <script src="scripts/locationFactory.js"></script>
    <script src="scripts/weatherFactory.js"></script>
  </head>
  <body>
    <div ng-app="rocketWeather" ng-controller="rocketWeatherController">
      <div ui-view>
        <h1>rocketWeather</h1>

        <div ng-if="error">
          <h3>{{error}}</h3>
        </div>


        <div ng-if="locationSearchInProgress">
          <h3>rocketWeather is trying to get your location...</h3>
        </div>
        <div ng-if="!locationSearchInProgress">
          <h3>Lat: {{location.latitude}}</h3>
        </div>
        <div ng-if="currentWeatherData">
          <div>Temp: {{currentWeatherData.temp}}</div>
          <div>High: {{currentWeatherData.tempHigh}}</div>
          <div>Low: {{currentWeatherData.tempLow}}</div>
          <div>Humidity: {{currentWeatherData.humidity}}</div>
          <div>Wind Speed: {{currentWeatherData.windSpeed}}</div>
        </div>

        <div ng-if="fiveDayWeatherData">
          <div ng-repeat="(dayDate, dayData) in fiveDayWeatherData">
            Day: {{dayDate}}
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
